body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

span {
    font-family: "Fira Mono", monospace;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    z-index: 1;
    margin-top: 6rem;
    image-rendering: pixelated;
    width: 50%;
}

.start-prompt {
    z-index: 1;
    color: white;
    margin-top: 12rem;
    font-size: 2rem;
}

.menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#death-screen {
    display: none;
}

#hud {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    color: white;
    flex-direction: column;
}

#hud-center {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#radar {
    border-width: 0.25rem;
    border-style: solid;
    border-color: white;
}

#money {
    padding: 1% 1% 0% 1%;
    font-size: 1.5rem;
}

#level {
    padding: 0% 1% 1% 1%;
    font-size: 1.5rem;
}

#healthbar {
    margin: 1% 1% 0% 1%;
}

#health {
    position: relative;
    top: -1.75rem;
    left: 0.25rem;
    margin-bottom: -1.75rem;
    background-color: #00dd00;
    z-index: 1;
    width: 0;
    height: 1.5rem;
}

#health-background {
    background-color: #dd0000;
    border-width: 0.25rem;
    border-style: solid;
    border-color: #ffffff;
    width: 10rem;
    height: 1.5rem;
}